# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

### Objectives:

* List popular languages for Data Science
* List commonly used libraries
* Provide examples of arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:

1. SQL
2. Python
3. R

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Plotly


| Data Science Tools | 
| :-- |
| RStudio | 
| Apache Spark |
| Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [7]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [9]:
minutes = 200
hours = 60
minutes / hours

3.3333333333333335

## Author
Debby van der Vlist